:root {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  --main-color: #212121;
  --accent-color: #2196f3;
  --second-color: #ffffff;
  --text-color: #757575;
}

body,
button,
a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}

section {
  padding-bottom: 94px;
}
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 3px solid cornflowerblue; */
}

.container > .footer-main {
  min-height: 197px;
}

.herro-title {
  color: var(--second-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* text-shadow: 0 0 5px #27262690; */
  margin-top: 0;
  /* margin-bottom: 30px; */
  /* outline: 3px solid cornflowerblue; */
}

.hed > .nav {
  color: var(--main-color);
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  font-style: normal;
  padding-bottom: 29px;
}

.link {
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
}

.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
.nav-border:hover {
  border-bottom: 4px solid;
  border-radius: 2px;
}

.name {
  font-style: Roboto;
  font-size: 16px;
  line-height: 1.35em;
  color: var(--main-color);
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 2px;
  text-align: center;
}

.logo {
  color: black;
  list-style: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--accent-color);
}

.knock {
  color: var(--second-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.knock:hover,
:focus {
  background-color: var(--text-color);
}
/* .knock > .sent {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
} */

.footer-form .knock::after {
  width: 24px;
  height: 24px;
  /* background-color: blueviolet; */
  content: '';
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
}

.subclass {
  color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.33em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
  /* padding-bottom: 10px; */
  padding-top: 94px;
  text-align: left;
  display: grid;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  line-height: 1.16em;
}

.white {
  color: var(--second-color);
  text-shadow: 0 0 3px #2f303a;
  text-align: left;
  padding-top: 0;
}
.wh {
  color: var(--second-color);
}

footer {
  background-color: #2f303a;
}

.info {
  display: flex;
  padding-right: 0;
  margin-bottom: 0;
  /* outline: 3px solid cornflowerblue; */
  text-align: left;
}
.inf-size/*  :not(:last-child) */ {
  width: 270px;
  margin-right: 30px;
}

.inf-size .subclass {
  padding-top: 30px;
  padding-bottom: 10px;
}
.opacity {
  display: none;
}
.cursor {
  line-height: 1.62em;
  border: none;
  font-style: normal;
  font-family: Roboto;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  margin-right: 8px;
}

.cursor:hover,
.cursor:focus {
  background-color: var(--accent-color);
  color: var(--second-color);
}
.icon {
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--main-color);
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  margin: 0;
}
.direction {
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  /*   padding-bottom: 16px; */
  text-align: center;
}
.contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-top: 9px;
  padding-bottom: 28px;

  letter-spacing: 0.03em;
}
/* .hero {
   text-align: center;
  margin-bottom: 94px;
} */

.developed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1170px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.hr-up {
  width: 1600px;
  border: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
}

.grey {
  background-color: #f5f4fa;
  margin-bottom: 0;
  padding-bottom: 94px;
}
.btn {
  padding-top: 45px;
  padding-bottom: 8px;
}
/* .for-image {
}
 */
.image-hero {
  max-width: 1600px;
  height: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  /* background-image: url(../images/Header.jpg); */
  /* display: grid; */
  /* background-color: rgba(47, 48, 58, 0.8);
  width: 1600px;
  height: 600px; */
}

.hero {
  justify-content: center;
  text-align: center;
}
.social {
  margin-bottom: 24px;
  text-align: center;
}
.icon-nav {
  padding-left: 24px;
  padding-bottom: 20px;
}
.portfolio-btn {
  padding-top: 93px;
  padding-bottom: 34px;
  display: flex;
  justify-content: center;
  /* margin-right: 8px; */
}

.link-nav {
  margin-left: 85px;
}

.hed:not(:last-child) {
  margin-right: 40px;
}
.hed > a {
  padding-top: 32px;
  padding-bottom: 32px;
}

.addres:not(:last-child) {
  margin-right: 30px;
}
/* .link-nav-size .link::before {
  width: 20px;
  height: 20px;
  content: '';
  background-image: url(../images/envelope.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-position: center;
} */

.icon-vectorsmartphone {
  /* --color2: var(--text-color); */
  /* fill: var(--text-color); */
  margin-right: 10px;
}
.addres:hover .icon-vectorsmartphone {
  --color2: var(--accent-color);
}

.icon-envelope {
  /*  fill: var(--text-color); */
  margin-right: 10px;
}
.addres:hover .icon-envelope {
  --color2: var(--accent-color);
}

/* .icon-Client1 {
  /* width: 45px;
  height: 50px; 
   --color1: black; 
} */

.menu {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.link-nav-size {
  display: flex;
  margin-left: auto;
}

.grey-fon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/* .inf-size .subclass::before {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  content: '';
  margin-bottom: 30px;
  background-image: url(../images/antenna1.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.inf-size:nth-child(2) ::before {
  background-image: url(../images/clock1.svg);
}

.inf-size:nth-child(3) ::before {
  background-image: url(../images/diagram1.svg);
}

.inf-size:nth-child(4) ::before {
  background-image: url(../images/astronaut1.svg);
} */

.box-employment:not(:first-child) {
  margin-left: 30px;
}

.outer-box {
  width: 370px;
  height: 294px;
  display: flex;
  justify-content: center;
}

.box-info {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team:not(:last-child) {
  margin-right: 30px;
  /* outline: 3px solid brown; */
}
.team-border {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.position {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

/* .svg::before {
  content: '';
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 24px;
  background-image: url(../images/instagram2.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.svg:hover::before {
  background-color: var(--accent-color);
}


.position-twitter::before {
  background-image: url(../images/twitter1.svg);
}

.position-facebook::before {
  background-image: url(../images/facebook1.svg);
}

.position-linkedin::before {
  background-image: url(../images/linkedin1.svg);
}

.position li:not(:last-child) {
  margin-right: 10px;
} */

/* .text-size {
  display: inline-block;
  width: 270px;
  outline: 3px solid brown;
} */

.box-social {
  width: 44px;
  height: 44px;
  /* padding: 12px; */
  margin-bottom: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  border-radius: 50%;
}

.line/* :not(:last-child) */ {
  margin-right: 10px;
}

.icon-instagram2 {
  /*  border-radius: 50%; */
  fill: var(--text-color);
}
.box-social:hover .icon-instagram2 {
  --color1: var(--second-color);
  background-color: var(--accent-color);
}
.box-social:hover .icon-twitter1 {
  --color1: var(--second-color);
  background-color: var(--accent-color);
}

.box-social:hover .icon-facebook1 {
  --color1: var(--second-color);
  background-color: var(--accent-color);
}

.box-social:hover .icon-linkedin1 {
  --color1: var(--second-color);
  background-color: var(--accent-color);
}
.white-style {
  --color1: var(--second-color);
}
.icon-Client1 {
  width: 45px;
  height: 50px;
}

.box-client {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-client:hover {
  --color1: var(--accent-color);
  background-color: var(--second-color);
  border: 1px solid var(--accent-color);
}
.last:not(:last-child) {
  margin-right: 30px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* .footer-address {
    margin-bottom: 28px;
  margin-right: 69px;
} */
/* .footer-social {
    margin-right: 94px;
  margin-top: 56px;
} */
.footer-form {
  width: 570px;
  /*   margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px; */
}

.round {
  background-color: #515261;
  opacity: 90%;
  border-radius: 50%;
}
.position .box-social:hover,
:focus {
  background-color: var(--accent-color);
}

.our-work-box {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.our-work-item {
  width: calc(100% * 1 / 3);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.our-work-border {
  border: 1px solid #ececec;
  /* background: #c4c4c4; */
}
.our-work-border:hover {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.string {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  /*  margin-top: 20px; */
}
.image-employment {
  display: block;
}
